#### Homework-3
##### Total number of points: 70
#### Due date: September 29, 2022

Before you submit this homework, make sure everything runs as expected. First, restart the kernel (in the menu, select Kernel → Restart) and then run all cells (in the menubar, select Cell → Run All). You can discuss with others regarding the homework but all work must be your own.

This homework will test your knowledge on data manipulation, manipulating strings and feature preprocessing. The Python notebooks shared will be helpful to solve these problems.  

Steps to evaluate your solutions:

Step-1: Try on Colab or Anaconda (Windows: https://docs.anaconda.com/anaconda/install/windows/ ; Mac:https://docs.anaconda.com/anaconda/install/mac-os/ ; Linux: https://docs.anaconda.com/anaconda/install/linux/)

Step-2: Open the Jupyter Notebook by first launching the anaconda software console

Step-3: Open the homework's .ipynb file and write your solutions at the appropriate location "# YOUR CODE HERE"

Step-4: You can restart the kernel and click run all (in the menubar, select Cell → Run All) on the center-right on the top of this window.

Step-5: Now go to "File" then click on "Download as" then click on "Notebook (.ipynb)" Please DO NOT change the file name and just keep it as ".ipynb"

Step-6: Go to lms.rpi.edu and upload your homework at the appropriate link to submit this homework.


#### Please note that for any question in this assignment you will receive points ONLY if your solution passes all the test cases including hidden testcases as well. So please make sure you try to think all possible scenarios before submitting your answers.  
- Note that hidden tests are present to ensure you are not hardcoding. 
- If caught cheating: 
    - you will receive a score of 0 for the 1st violation. 
    - for repeated incidents, you will receive an automatic 'F' grade and will be reported to the dean of Lally School of Management.

Use the titanic dataset from this url ('https://raw.githubusercontent.com/rpi-techfundamentals/spring2019-materials/master/input/train.csv') and we will use the same dataset in some of the questions here below.

#### Q1. Shape of a Data Frame. 
1. Import pandas package as pd.
2. Read the file from the 'url' and load the data into dataframe 'df' with default index.
3. Set number of rows equal to the variable `rows` and the number of columns equal to the variable `cols`. 
4. Print out the number of rows and columns, clearly labeling each.

In [85]:

url='https://raw.githubusercontent.com/rpi-techfundamentals/spring2019-materials/master/input/train.csv'

# YOUR CODE HERE
import pandas as pd
df=pd.read_csv(url)
rows=len(df.axes[0])
cols=len(df.axes[1])
print(rows,cols)

891 12

In [86]:
#DO NOT MODIFY/DELETE THIS CELL
assert rows==891
assert df['Age'].sum()==21205.17

In [87]:
#DO NOT MODIFY/DELETE THIS CELL

Now we will be using the above dataframe df to do some preprocessing operations on this data. All the required libraries for further processing will be loaded here.

In [88]:
import numpy as np
import pandas as pd
import re
from sklearn.model_selection import train_test_split

### Q2 Dataframe Basic Analyses
Determine how many first, second, and third class (assiging to the variables `class1`, `class2`, `class3`) passangers there are. 

*Hint -- Use value_counts operation*

In [89]:
#Your answer here. 

# YOUR CODE HERE
class1=df['Pclass'].value_counts()[1]
class2=df['Pclass'].value_counts()[2]
class3=df['Pclass'].value_counts()[3]

In [90]:
#DO NOT MODIFY/DELETE THIS CELL
assert class1>0
assert class2>0
assert class3>0

In [91]:
#DO NOT MODIFY/DELETE THIS CELL

### Q3 Groupby

Now use a groupby statement to calculate the mean age (use the 'age' attribute) of passengers who are of different gender. 

Round the age to 2 decimal places (for example 3.14156 converts to 3.14 ) and assign the resulting variable to `female_age`, `male_age`.

In [92]:
#Your answer 

# YOUR CODE HERE
a=float=df.groupby('Sex')['Age'].mean()['female']
b=float=df.groupby('Sex')['Age'].mean()['male']
female_age=round(a,2)
male_age=round(b,2)

In [93]:
#DO NOT MODIFY/DELETE THIS CELL
assert female_age>0
assert isinstance(female_age, np.floating)
assert male_age>0 
assert isinstance(male_age, np.floating)

In [94]:
#DO NOT MODIFY/DELETE THIS CELL

### Q4 Split Dataframe

Now split the dataframe `df` into 3 different dataframes `dfclass1`, `dfclass2`, and `dfclass3` using the `Pclass` variable.

In [95]:
#Your answer

# YOUR CODE HERE
Pclass=df.groupby('Pclass')
dfclass1=Pclass.get_group(1)
dfclass2=Pclass.get_group(2)
dfclass3=Pclass.get_group(3)
print(dfclass1,dfclass2,dfclass3)

     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
6              7         0       1
11            12         1       1
23            24         1       1
..           ...       ...     ...
871          872         1       1
872          873         0       1
879          880         1       1
887          888         1       1
889          890         1       1

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                              McCarthy, Mr. Timothy J    male  54.0      0
11                            Bonnell, Miss. Elizabeth  female  58.0      0
23                        Sloper, Mr. William Thompson    male  28.0      0
..                                                 ...     ...   ...    ...
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
872                           Carlsson, Mr. Frans Olof    male  33.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0

     Parch    Ticket     Fare        Cabin Embarked
1        0  PC 17599  71.2833          C85        C
3        0    113803  53.1000         C123        S
6        0     17463  51.8625          E46        S
11       0    113783  26.5500         C103        S
23       0    113788  35.5000           A6        S
..     ...       ...      ...          ...      ...
871      1     11751  52.5542          D35        S
872      0       695   5.0000  B51 B53 B55        S
879      1     11767  83.1583          C50        C
887      0    112053  30.0000          B42        S
889      0    111369  30.0000         C148        C

[216 rows x 12 columns]      PassengerId  Survived  Pclass  \
9             10         1       2
15            16         1       2
17            18         1       2
20            21         0       2
21            22         1       2
..           ...       ...     ...
866          867         1       2
874          875         1       2
880          881         1       2
883          884         0       2
886          887         0       2

                                             Name     Sex   Age  SibSp  Parch  \
9             Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1      0
15               Hewlett, Mrs. (Mary D Kingcome)   female  55.0      0      0
17                   Williams, Mr. Charles Eugene    male   NaN      0      0
20                           Fynney, Mr. Joseph J    male  35.0      0      0
21                          Beesley, Mr. Lawrence    male  34.0      0      0
..                                            ...     ...   ...    ...    ...
866                  Duran y More, Miss. Asuncion  female  27.0      1      0
874         Abelson, Mrs. Samuel (Hannah Wizosky)  female  28.0      1      0
880  Shelley, Mrs. William (Imanita Parrish Hall)  female  25.0      0      1
883                 Banfield, Mr. Frederick James    male  28.0      0      0
886                         Montvila, Rev. Juozas    male  27.0      0      0

               Ticket     Fare Cabin Embarked
9              237736  30.0708   NaN        C
15             248706  16.0000   NaN        S
17             244373  13.0000   NaN        S
20             239865  26.0000   NaN        S
21             248698  13.0000   D56        S
..                ...      ...   ...      ...
866     SC/PARIS 2149  13.8583   NaN        C
874         P/PP 3381  24.0000   NaN        C
880            230433  26.0000   NaN        S
883  C.A./SOTON 34068  10.5000   NaN        S
886            211536  13.0000   NaN        S

[184 rows x 12 columns]      PassengerId  Survived  Pclass                                      Name  \
0              1         0       3                   Braund, Mr. Owen Harris
2              3         1       3                    Heikkinen, Miss. Laina
4              5         0       3                  Allen, Mr. William Henry
5              6         0       3                          Moran, Mr. James
7              8         0       3            Palsson, Master. Gosta Leonard
..           ...       ...     ...                                       ...
882          883         0       3              Dahlberg, Miss. Gerda Ulrika
884          885         0       3                    Sutehall, Mr. Henry Jr
885          886         0       3      Rice, Mrs. William (Margaret Norton)
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch            Ticket     Fare Cabin Embarked
0      male  22.0      1      0         A/5 21171   7.2500   NaN        S
2    female  26.0      0      0  STON/O2. 3101282   7.9250   NaN        S
4      male  35.0      0      0            373450   8.0500   NaN        S
5      male   NaN      0      0            330877   8.4583   NaN        Q
7      male   2.0      3      1            349909  21.0750   NaN        S
..      ...   ...    ...    ...               ...      ...   ...      ...
882  female  22.0      0      0              7552  10.5167   NaN        S
884    male  25.0      0      0   SOTON/OQ 392076   7.0500   NaN        S
885  female  39.0      0      5            382652  29.1250   NaN        Q
888  female   NaN      1      2        W./C. 6607  23.4500   NaN        S
890    male  32.0      0      0            370376   7.7500   NaN        Q

[491 rows x 12 columns]

In [96]:
#DO NOT MODIFY/DELETE THIS CELL
assert len(dfclass1)>0
assert len(dfclass2)>0
assert len(dfclass3)>0
assert isinstance(dfclass1, pd.DataFrame)
assert isinstance(dfclass2, pd.DataFrame)
assert isinstance(dfclass3, pd.DataFrame)

In [97]:
#DO NOT MODIFY/DELETE THIS CELL

In [98]:
#DO NOT MODIFY/DELETE THIS CELL

In [99]:
#DO NOT MODIFY/DELETE THIS CELL

#### Q5 Filter Missing Values

Create a new dataframe `dfna1` from `df` which removes all rows in which *any* of the variables are missing.

Create a new dataframe `dfna2` from `df` which removes all rows in which *all* of the variables `Age` and `Cabin` are missing.

In [100]:

# YOUR CODE HERE
dfna1=df.dropna()
dfna2=df.drop(['Age','Cabin'],axis=1)
print(dfna1,dfna2)

     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
6              7         0       1
10            11         1       3
11            12         1       1
..           ...       ...     ...
871          872         1       1
872          873         0       1
879          880         1       1
887          888         1       1
889          890         1       1

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                              McCarthy, Mr. Timothy J    male  54.0      0
10                     Sandstrom, Miss. Marguerite Rut  female   4.0      1
11                            Bonnell, Miss. Elizabeth  female  58.0      0
..                                                 ...     ...   ...    ...
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
872                           Carlsson, Mr. Frans Olof    male  33.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0

     Parch    Ticket     Fare        Cabin Embarked
1        0  PC 17599  71.2833          C85        C
3        0    113803  53.1000         C123        S
6        0     17463  51.8625          E46        S
10       1   PP 9549  16.7000           G6        S
11       0    113783  26.5500         C103        S
..     ...       ...      ...          ...      ...
871      1     11751  52.5542          D35        S
872      0       695   5.0000  B51 B53 B55        S
879      1     11767  83.1583          C50        C
887      0    112053  30.0000          B42        S
889      0    111369  30.0000         C148        C

[183 rows x 12 columns]      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex  SibSp  Parch  \
0                              Braund, Mr. Owen Harris    male      1      0
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female      1      0
2                               Heikkinen, Miss. Laina  female      0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female      1      0
4                             Allen, Mr. William Henry    male      0      0
..                                                 ...     ...    ...    ...
886                              Montvila, Rev. Juozas    male      0      0
887                       Graham, Miss. Margaret Edith  female      0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female      1      2
889                              Behr, Mr. Karl Howell    male      0      0
890                                Dooley, Mr. Patrick    male      0      0

               Ticket     Fare Embarked
0           A/5 21171   7.2500        S
1            PC 17599  71.2833        C
2    STON/O2. 3101282   7.9250        S
3              113803  53.1000        S
4              373450   8.0500        S
..                ...      ...      ...
886            211536  13.0000        S
887            112053  30.0000        S
888        W./C. 6607  23.4500        S
889            111369  30.0000        C
890            370376   7.7500        Q

[891 rows x 10 columns]

In [101]:
assert len(dfna1)>0
assert len(dfna2)>0
assert isinstance(dfna1, pd.DataFrame)
assert isinstance(dfna2, pd.DataFrame)

In [102]:
#DO NOT MODIFY/DELETE THIS CELL

In [103]:
#DO NOT MODIFY/DELETE THIS CELL

### Q6 Stratified sampling 

Utilize the original dataframe 'df'.  

1. Set the `y` variable to the `Survived` column.
2. Set X to the `SibSp`,`Parch`, and `Fare` columns of the dataframe. 
3. Create `train_X`, `test_X`, `train_y`, `test_y` by doing a 50% 50% split with stratification by the `Survived` varaible. Use `random_state` equal to 123.

In [104]:
#Your answer

# YOUR CODE HERE
y=df['Survived']
X=df[['SibSp','Parch','Fare']]
train_X,test_X,train_y,test_y=train_test_split(X,y,train_size=0.5,test_size=0.5,random_state=123)
print(train_X,test_X,train_y,test_y)

     SibSp  Parch     Fare
148      0      2  26.0000
378      0      0   4.0125
561      0      0   7.8958
859      0      0   7.2292
105      0      0   7.8958
..     ...    ...      ...
98       0      1  23.0000
322      0      0  12.3500
382      0      0   7.9250
365      0      0   7.2500
510      0      0   7.7500

[445 rows x 3 columns]      SibSp  Parch      Fare
172      1      1   11.1333
524      0      0    7.2292
452      0      0   27.7500
170      0      0   33.5000
620      1      0   14.4542
..     ...    ...       ...
563      0      0    8.0500
379      0      0    7.7750
542      4      2   31.2750
282      0      0    9.5000
779      0      1  211.3375

[446 rows x 3 columns] 148    0
378    0
561    0
859    0
105    0
      ..
98     1
322    1
382    0
365    0
510    1
Name: Survived, Length: 445, dtype: int64 172    1
524    0
452    0
170    0
620    0
      ..
563    0
379    0
542    0
282    0
779    1
Name: Survived, Length: 446, dtype: int64

In [105]:
#DO NOT MODIFY/DELETE THIS CELL
assert len(train_X)>0
assert len(test_X)>0
assert isinstance(train_X, pd.DataFrame)
assert isinstance(test_X, pd.DataFrame)
assert isinstance(train_y, pd.Series)
assert isinstance(test_y, pd.Series)

In [106]:
#DO NOT MODIFY/DELETE THIS CELL

In [107]:
#DO NOT MODIFY/DELETE THIS CELL

In [108]:
#DO NOT MODIFY/DELETE THIS CELL

#### Q7  Feature Manipulation
1. Consider the original dataframe `df`. Create a copy of this and call it `dfage`.
2. Remove all the rows of `dfage` in which the `Age` value is missing. 
3. Then create a new column `dfage['Age_st']` which replaces each value in the 'age' attribute with the corresponding standardized value *rounded to 2 decimal places*. You are not modifying `dfage['Age']`.


*Hint: See this for definition of standardized value.  [https://en.wikipedia.org/wiki/Standard_score](https://en.wikipedia.org/wiki/Standard_score) You can use np.mean() and np.std() functions to compute the mean and standard deviation values.*

In [109]:

# YOUR CODE HERE
dfage=df.copy()
dfage=df.drop(['Age'],axis=1)
a=(df['Age']-df['Age'].mean()/df['Age'].std())
dfage['Age_st']=round(a,2)
print(dfage['Age_st'])

0      19.96
1      35.96
2      23.96
3      32.96
4      32.96
       ...
886    24.96
887    16.96
888      NaN
889    23.96
890    29.96
Name: Age_st, Length: 891, dtype: float64

In [110]:
assert len(dfage)>0
assert isinstance(dfage, pd.DataFrame)
assert 'Age_st' in dfage.columns

In [111]:
#DO NOT MODIFY/DELETE THIS CELL

In [112]:
#DO NOT MODIFY/DELETE THIS CELL

In [113]:
#DO NOT MODIFY/DELETE THIS CELL

#### Q8 Feature Creation 2
1. Create a copy of df called `df8`.
2. In `df8` create a feature called `stown` using `Embarked`.  

    For the `Embarked` is 'S' make `stown` 1. 
    
    Otherwise `stown` is 0.

In [114]:

# YOUR CODE HERE
df8=df.copy()
df8['stown']=df['Embarked'].copy()
df8['stown']=df8['Embarked'].apply(lambda x:1 if x=='S' else 0)

In [115]:
#DO NOT MODIFY/DELETE THIS CELL
assert set(df8['stown'])=={0,1}
assert df8.shape==(891, 13)

In [116]:
#DO NOT MODIFY/DELETE THIS CELL

### Q9. Beautiful Soup
Use the html content shared here below and parse it using the 'soup' object to 
assign all the unique 'Hometown' values to as a list object `hts`


Strip any leading or trailing white space and convert each value of the hometown in `hts` to a lower-case.


Print the final answer.

In [117]:


import requests
from bs4 import BeautifulSoup
import operator
import pandas as pd
import json
newtext = """
<p>
    <strong class="person1">YOB:</strong> 1990<br />
    <strong class="person1">GENDER:</strong> FEMALE<br />
    <strong class="person1">EYE COLOR:</strong> GREEN<br />
    <strong class="person1">HAIR COLOR:</strong> BROWN<br />
    <strong class="person1">GPA:</strong> 4<br />
    <strong class="person1">Hometown:</strong> Johnstown<br />
</p>

<p>
    <strong class="person2">YOB:</strong> 1993<br />
    <strong class="person2">GENDER:</strong> FEMALE<br />
    <strong class="person2">EYE COLOR:</strong> BROWN<br />
    <strong class="person2">HAIR COLOR:</strong> BLACK<br />
    <strong class="person2">GPA:</strong> 3.5<br />
    <strong class="person2">Hometown:</strong> Pittston<br />
</p>

"""
hts=[]
soup = BeautifulSoup(newtext)
# YOUR CODE HERE
s=soup.findAll('p')[0].get_text().lower()
s=s.split('\n')
hts.append(s[6].split(' ')[1])
t=soup.findAll('p')[1].get_text().lower()
t=t.split('\n')
hts.append(t[6].split(' ')[1])
print(hts)

['johnstown', 'pittston']

In [118]:
#DO NOT MODIFY/DELETE THIS CELL
assert len(hts)==2
assert hts==['johnstown', 'pittston']

### Q10 String operations

1. Given a string `str10` first split the string into words, strip any leading or trailing white space, and convert them to lowercase. 
2. Now using the 'join' operation we learnt in the class, concatenate these words to a new string `str11` with a '-' between each.

For example: str1 is 'it is cold today' to str2 will be: 'it-is-cold-today'

In [119]:

str10 = 'Email the company at xyz@abcd.com and is the easiest way compared to tweet @abcdxyz'
# YOUR CODE HERE
str10=str10.lower()

str10=str10.split()

str11= '-'.join(str10)
print(str10,str11)

['email', 'the', 'company', 'at', 'xyz@abcd.com', 'and', 'is', 'the', 'easiest', 'way', 'compared', 'to', 'tweet', '@abcdxyz'] email-the-company-at-xyz@abcd.com-and-is-the-easiest-way-compared-to-tweet-@abcdxyz

In [120]:
#DO NOT MODIFY/DELETE THIS CELL
assert len(str11)==83

In [121]:
#DO NOT MODIFY/DELETE THIS CELL

### Q11. Regular Expressions

Create a function called `extract_email` which uses the regular expressions package to extract all the email ids mentioned in a sentence.

For example:

extract_email('Email the company at jondow@franks.com today.')

Should return a list: `['jondow@franks.com']`

In [122]:
#Your answer here
import re
    
str10 = 'Email the company at jondow@franks.com today.'

# YOUR CODE HERE
def extract_email(str10):
    i =re.findall(r'\S*@\S*\s?',str10)
    list=[i.rstrip(' ') for i in i]
    return list
print(extract_email(str10))

['jondow@franks.com']

In [123]:
#DO NOT MODIFY/DELETE THIS CELL
assert len(extract_email('Email the company at jondow@franks.com today.'))==1
assert extract_email('Email the company at jondow@franks.com today.')==['jondow@franks.com']

In [124]:
#DO NOT MODIFY/DELETE THIS CELL

In [125]:
#DO NOT MODIFY/DELETE THIS CELL